*

!*.json
!*.lock*
!*.ts
!*.mjs
!wahlkreise/*.ts
!wahlbezirke/*.ts
!wahlbezirke/data/wahlbezirkeList.json
!wahlbezirke/data/gemeinden.csv
!src/**/*
!map/GemeindenShapefile.zip
!map/germany_place.mbtiles
!map/*.ts
!map/config.json
