*

!*.json
!*.lock*
!*.ts
!*.mjs
!wahlkreise/*.ts
!wahlbezirke/*.ts
!wahlbezirke/data/wahlbezirkeList.json
!wahlbezirke/data/gemeinden.csv
!src/**/*
!map/data/GemeindenShapefile.zip
!map/data/germany_place.mbtiles
!map/data/plz.csv
!map/data/plz.zip
!map/*.ts
!map/config.json
